.container {
    background-color: rgb(6,13,45);
    margin-top: 7rem;
}

.suivez {
    border-bottom: 1px solid white;
    display: flex;
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
}

.suivez div {
    width: 50%;
}
p {
    padding-left: 2rem;
    color: white;
}

.logo {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
.logo i{
    color: rgba(219,180,60, 0.6);
    font-size: 4rem;
    padding-right: 1rem;
}

.logo i:hover {
    color:rgb(219,180,60)
}

.cgu {
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .suivez {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    .suivez div {
        width: 100%;
    }
    .cgu {
        text-align: center;
    }

}
