h1 {
    text-align: center;
    font-size: 4rem;
    color: rgb(219,180,60);
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.reservations p{
    color: white;
    font-size: 3rem;
    text-align: center;
}

