.container {
    background-image: url('https://www.cirque-gruss.com/assets/img/layout/cirque/single/fg_01.png');
    background-size: 25%;
}

h1, h2 {
    color: rgb(191,163,87);
    text-align: center;
}

h1 {
    font-size: 5rem;
    padding-top: 4rem;
}

h2 {
    font-size: 3rem;
    padding-bottom: 4rem;

}

.commande {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p {
    color: white;
    text-align: center;
}

.cheque {
    width: 700px;
    align-self: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}


.adress {
    border: 2px solid rgb(191,163,87);
    align-self: center;
    width: 300px;
    margin-bottom: 5rem;
}

.article {
    display: flex;
    flex-direction: row;
}

.img, .details {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    flex-direction: column;
}

img {
    height: 600px;
}

.prix {
    border: 2px solid  rgb(186, 53, 47);
    background-color: rgb(186, 53, 47);
    border-radius: 50%;
    padding:1rem;
    width: 35px;
    font-size: 1.5rem;
}

.titre {
    font-size: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}

.center img {
    height: 50%;
}


@media screen and (max-width:800px) {

    .article {
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        border-bottom: 4px solid rgb(191,163,87);
    }
}