<app-nav-bar></app-nav-bar>

<h1>La boutique</h1>

<div class="commande">
    <p class="cheque">Pour passer commande, merci de nous indiquer votre nom et adresse, et de nous envoyer votre règlement par chèque à
        l’adresse suivante :</p>
    
    <div class="adress">
        <p>WildCircus</p>
        <p>Service Affiche et Programme</p>
        <p>9 Allée Serr, 33100 Bordeaux</p>
    </div>
    
</div>


<h2> <i class="fas fa-shopping-bag"></i> Nos articles </h2>

<div class="article">
    <div class="img">
        <img src="https://previews.123rf.com/images/benchart/benchart1603/benchart160300031/54335402-illustration-de-r%C3%A9tro-et-vintage-fond-d-affiche-de-cirque-avec-chapiteau-chapiteau-titres-%C3%A9l%C3%A9gants-et.jpg"
            alt="affiche">
    </div>
    <div class="details">
        <p class="prix">10€</p>
        <p class="titre">L'affiche</p>
        <p>Affiche au format 40X60 cm</p>
    </div>
</div>

<div class="article">
    <div class="details">
        <p class="prix">22€</p>
        <p class="titre">DVD La Passion du cirque</p>
        <p>LE CIRQUE vous invite à découvrir les coulisses du WildCircus à l’occasion de son ouverture.
            Des propos et images inédits, l’histoire d’une grande famille, des moments forts, la vie au quotidien, la vocation et les défis d’une nouvelle génération, l’amour des animaux et l’attention constante à leur bien-être.
                        
            Le WildCircus comme vous ne l’avez encore jamais vu !...
            Car c’est ensemble avec son public, ses 150 artistes et collaborateurs qu’il fait toute la différence!  </p>
    </div>
    <div class="img">
        <img src="https://i.skyrock.net/7159/17897159/pics/3295539230_1_5_T6kpQZbv.jpg"
            alt="dvd">
    </div>
</div>
<app-footer></app-footer>